<!DOCTYPE html>
<html lang="es">
	<head>
	    <meta charset="UTF-8">  
	    <link rel="stylesheet" href="src/css/normalize.css">
	    <link rel="stylesheet" href="src/css/bootstrap.min.css">
	    <link rel="stylesheet" href="src/css/style.css">
		<!--Meta datos para movil -->
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="shortcut icon" href="recursos/favicon.png" type="image/png"/>
	    <title>SmartCites | App Dev</title>
	</head>
	<body>
	    
	    <script type="text/JavaScript" src="js/jquery.min.js"></script>
	    <script type="text/JavaScript" src="js/bootstrap.min.js"></script>
	</body>
</html>